<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mergeapplication.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mergeapplication.Perspective"
            name="RCP Perspective"
            id="MergeApplication.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="mergeapplication.DogShowEntry"
            id="MergeApplication.DogShowEntry"
            name="DogShowEntry"
            restorable="true">
      </view>
      <view
            class="mergeapplication.HtmlParser"
            id="MergeApplication.HtmlParser"
            name="HtmlParser"
            restorable="true">
      </view>
      <view
            class="mergeapplication.Employee"
            id="MergeApplication.Employee"
            name="Employee"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="MergeApplication.DogShowEntry"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="MergeApplication.Employee"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="MergeApplication.HtmlParser"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="MergeProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="MergeApplication.application"
            name="MergeProduct">
         <property
               name="appName"
               value="MergeProduct">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/MergeApplication/content/root.css">
         </property>
         <property
               name="aboutImage"
               value="content/link_obj.gif">
         </property>
         <property
               name="aboutText"
               value="Merge">
         </property>
         <property
               name="windowImages"
               value="icons/eclipse16.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="MergeApplication.intro">
      </intro>
      <introProductBinding
            introId="MergeApplication.intro"
            productId="MergeApplication.MergeProduct">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="MergeApplication.intro1">
      </intro>
      <introProductBinding
            introId="MergeApplication.intro1"
            productId="MergeApplication.MergeProduct">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="MergeApplication.introConfigId"
            introId="MergeApplication.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="MergeApplication.introConfigId"
            introId="MergeApplication.intro1">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
